/*  Color verde oscuro  HEX #264653
    Color verde claro   HEX #2A9D8F
    Color Amarillo      HEX #E9C46A 
    Color Naranja       HEX #F4A261
    Color Naranja osc   HEX #E76F51
*/


/* ETIQUETAS */
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: beige;
    margin: 0;
    width: 100%;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to left, #e9c46a, #264653);
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0px 30px;
    display: flex;
}

nav li {
    margin: 0px 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    border-radius: 5px;
    margin: 0 0.5rem;
    height: auto;
}

.nav-link {

    display: block;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.0005s ease-in-out;

}

.nav-link.active,
.nav-link:hover {
    background-color: #264653;
    color: white;
    border-radius: 10px;
    width: 100%;
}

header img {
    max-height: 32px;
}


footer {
    background-color: black;
    color: white;
    padding: 2%;

}


.contenedor-alfa {
    background-color: #F4A261;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.contenedor-beta {
    background-color: #F4A261;
    color: white;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.grilla-3x1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 300px);
    gap: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.grilla-2x1a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 10px;
}

.grilla-2x1b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    background-color: white;

    padding: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
}

/* .item2 {
    background-color: rgba(248, 236, 234, 50%);
    color: black;
    padding: 20px;
    font-size: 18px;
    text-align: center;
} */


.mapa {
    position: relative;
    padding-bottom: 20%;
    /* Esta proporción mantiene la relación de aspecto del mapa */
    height: 0;
    overflow: hidden;
}

.mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.arriba {
    color: #e9c46a;
    margin: 0px 20px 0px 98%;
    padding: 0%;
    text-align: center;


}

.slider-frame {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    width: 400%;
    animation: slide 50s infinite alternate ease-in-out;
}

.slide {
    width: 25%;
}

.slide img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
}

@media (max-width: 768px) {

    header {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }


    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }


    .grilla-3x1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .grilla-2x1b {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }


}



/* /////////////// */