.grid-contenedor {
    display: grid;
    width: 100%;
    position: relative;
    grid-template-columns: auto;
    grid-template-areas: "header"
        "menu"
        "main"
        "footer"
}

body {
    background-color: #F0D7AA;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}


.logo {
    /* border: blueviolet solid; */
    max-height: 40px;


}

.encabezado-banner {
    height: 200px;
    position: relative;
    margin: auto;
}

.encabezado-contacto {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}



.enviar-mensaje {
    width: 100%;
    position: relative;
}

.contacto-titulo {
    font-size: 30px;
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding-bottom: 100px;

}

.formulario {
    /* display:inline-flex; */
    padding: 190px 160px 90px 160px;
    /* margin-bottom: 50px; */
    /* border: #264653 solid; */
}


.contenedor-formulario {
    /* border: 3px solid #288cba; */
    position: relative;
}

.row {
    /* border: 2px rgb(0, 215, 29) solid; */
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.name,
.last-name,
.mail,
.phone {
    width: 50%;
}

.last-name,
.phone {
    position: relative;
    box-sizing: border-box;
}


.label-apellido,
.label-telefono,
.label-nombre,
.label-email {
    /* border: 2px coral solid; */
    box-sizing: content-box;
    width: 99%;
    font-size: 20px;
    text-align: center;
}

.type-apellido,
.type-telefono,
.type-nombre,
.type-email {
    /* border: 2px rgb(80, 89, 255) solid; */
    padding: 10px;
    width: 100%;
    /* margin: 0%;
    padding: 10px; */
}

#nombre,
#apellido,
#email,
#telefono {
    width: 100%;
    padding: 5px;
    font-size: medium;
}

.label-mensaje {
    padding: 10px
}

textarea {
    /* border: 2px rgb(219, 22, 179) solid; */
    width: 100%;
    font-size: x-large;
}

button {
    /* border: 2px rgb(219, 22, 179) solid; */
    font-size: 24px;
    padding: 16px 32px;
    margin-left: 40%;
    text-align: center;
}


.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 9999;
}

.contendor-footer {
    position: relative;

    /* border: #04f120 solid; */
}

.fondo-footer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* para que la imagen de fondo quede detrás del contenido */
}


.informacion-contacto {
    top: 0;
    left: 0;
    z-index: 1;
    /* margin: 50px; */
    /* border: #04aef1 solid; */
    /*
    display: flex;
    align-items:center; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mapa {
    top: 0;
    left: 0;
    z-index: 1;
    margin: 50px;
    /* padding-left: 100px; */
    /* border: #1004f1 solid; */

    /* border: #04aef1 solid; */
}

.contenedor-mapa {
    padding-left: 15px;
    /* border: #04aef1 solid; */


}


.columna {
    /* border: #4dba56 solid; */
    color: white;
    margin-top: 10px;
    display: flex;
    align-content: space-between;
    font-size: small;

}


.icon-ubi,
.icon-tel {
    /* border: #264653 solid; */
    width: 35px;
    height: 25px;
    filter: grayscale(100%) invert(100%);
    margin: 5px;

}

.columna h5 {
    display: flex;
    align-items: center;

    /* border: #04aef1 solid; */


}

.facebook,
.instagram {
    display: flex;
    margin-left: 100px;
}

.redes-sociales {

    /* border: #2ecd41 solid; */
    margin-right: 10px;
    margin-bottom: 100px;

}


.redes-sociales h5 {
    color: white;
    font-size: large;
    font-weight: bold;
    margin: 10px;
    /* border: #264653 solid; */

}

.redes-sociales a {

    display: flex;
    align-items: center;
    /* border: #f2c512 solid; */
    padding: 10px;
    /* margin: 4px; */



}

.redes-sociales a img {
    width: 50x;
    height: 40px;
    /* border: rgb(157, 68, 68) solid; */
    display: flex;
    filter: grayscale(100%) invert(100%);
    margin-right: 15px;
}

.redes-sociales img {
    /* border: #1004f1 solid; */
    width: 40px;
    height: 40px;

}

.redes-sociales a:link {
    color: white;


}

.redes-sociales a:visited {
    color: whitesmoke;

}



nav img {
    /* border: #e9c46a solid; */
    /* position: static; */
    width: 59px;

}



/* arreglar espacios */
.navbar {
    /* border: #04f120 solid; */
    position: relative;
    height: 58px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-image: linear-gradient(to left, #e9c46a, #264653);
    justify-content: space-between;

    align-items: center;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */

}

.barra {
    /* font-family: 'Nunito', sans-serif; */
    /* border: blue solid; */
    display: flex;

}


.item2 a {

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
}

nav a {
    /* border: #f44336 solid; */
    display: flex;
    margin: 0px 10px;
}


.nav-item {
    border-radius: 5px;
    margin: 0 0.5rem;
    height: auto;
}



.nav-link.active,
.nav-link:hover {
    background-color: #304D54;
    color: #fff;
    border-radius: 10px;

}




@media screen and (max-width: 720px) {

    .row {
        flex-direction: column;
        /* align-content: center; */
    }

    .row>* {
        width: 100%;
        
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .grid-contenedor {
        width: 100%;
        max-width: 100%;
        overflow-y: auto;
    }

    .grid-contenedor {
        width: 100%;
        max-width: 100%;
        overflow-y: auto;

    }

    .item4 {
        flex-grow: 1;
    }

    button {
        font-size: 18px;
        padding: 12px 24px;
    }

    .enviar-mensaje {
        margin-top: 10px;
    }

    .formulario{
        /* padding: 20px; */
        padding-left: 5px;
        padding-right: 5px;
    }

    .facebook,
    .instagram {
        display: flex;
        margin-left: 10px;
    }

    
}


@media screen and (max-width: 768px) {

    .formulario{
        /* padding: 20px; */
        padding-left: 5px;
        padding-right: 5px;
    }

    button {
        /* border: 2px rgb(219, 22, 179) solid; */
        font-size: 20px;
        padding: 12px 24px;
    }

  
  }



.item1 {
    grid-area: menu;
}

.item2 {
    grid-area: header;

}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: footer;
}