/* 
#264653 Casi Azul
#2A9D8F Verde apagado
#E9C46A Amarillo Debil
#F4A261 Naranja Apagado
#E76F51 Casi Rojo
*/


*{
    margin: 0px; /*Establece el margen para los cuatro lados */
    padding: 0px; /*Establece el espacio de relleno*/
    font-family:  'Nunito',sans-serif; 
    
 }

 body{

    background-color:beige;
    
    }

h2 {

    font-size: 30px;
     }



h3 {

font-size: 20px;
color: #264653;

}


.contenedor{
    width: 100vw;
    max-width: 100%; /*  Ancho maximo */
    margin: 5px auto;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(10,auto);
    grid-template-areas: "encabezado encabezado encabezado"
                         "fotoPrincipal fotoPrincipal fotoPrincipal" 
                         "historia textHistoria textHistoria"
                         "tElectricas tElectricas tElectricas"
                         "electricas electricas electricas"
                         "tUrbanas tUrbanas tUrbanas"
                         "urbanas urbanas urbanas "
                         "tParaViajar tParaViajar tParaViajar"
                         "paraViajar paraViajar paraViajar"
                         "pie pie pie"
}


.contenedor .fotoPrincipal,
.contenedor .historia,
.contenedor .textHistoria,
.contenedor .electricas,
.contenedor .urbanas,
.contenedor .paraViajar,
.contenedor .pie {
    padding: 10;
    border-radius: 5px;
    background-color:;
     
}


.contenedor .encabezado {
    position: fixed;
    top: 0;
    left: 0;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    grid-area: encabezado;
    background-image: linear-gradient(to left, #e9c46a, #264653);
    }

.contenedor .fotoPrincipal {
    width: 100%;
    grid-area: fotoPrincipal;
    font-weight: bold;
    font-size: 20px;
    background-color: #E9C46A;
    
}

.contenedor .historia {
    width: 100%;
    grid-area: historia;
    background-color:#F4A261;
    box-shadow: 10px 10px 10px black
    }

.contenedor .textHistoria {
    width: 100%;
    font-size: 18px;
    grid-area: textHistoria;
    text-align: center;
    background-color:#F4A261;
    font-weight: bold;
    box-shadow: 10px 10px 10px black
                
}

.contenedor .tElectricas{
    width: 100%;
    grid-area: tElectricas;
    border-top: solid 0.5px;
    border-color: gray;
    backdrop-filter: blur(2px);
    
}

.contenedor .tUrbanas {
    width: 100%;
    grid-area: tUrbanas;
    border-top: solid 0.5px;
    border-color: gray;
    backdrop-filter: blur(1.5px)
}

.contenedor .tParaViajar {
    width: 100%;
    grid-area: tParaViajar;
    border-top: solid 0.5px;
    border-color: gray;
    backdrop-filter: blur(1.5px)
    }

.contenedor .electricas  {
    width: 100%;
    grid-area: electricas;
    display: flex;
    grid-column-gap: 25px;
    grid-template-columns: auto;
    
}

.contenedor .urbanas {
    width: 100%;
    grid-area: urbanas;
    display: flex;
    grid-column-gap: 25px;
    grid-template-columns: auto;
    
}

.contenedor .paraViajar {
    width: 100%;
    grid-area: paraViajar;
    display: flex;
    grid-column-gap: 25px;
    grid-template-columns: auto;
    
}

.contenedor .pie {
    width: 100%;
    height: 30px;
    grid-area: pie;
    background-color: black;
    color: white;
            
}

.box{

    width: 100%; 
    grid-column: span 1;
    grid-row: span 1;
    background-color:#E9C46A;
    text-align: center;
    border-radius: 5%      
}

.box img{
    max-width: 100%;
    height: auto;
}

.box2{

    width: 100%; 
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    border-radius: 5%      
}

.box2 img{
    max-width: 100%;
    height: auto;
} 


.nav-link {
    display: flex ;
    color: white;
    text-decoration: none;
    padding: 10px;
  }

.hlighted:hover {
    background-color: #264653;
    color: white;
    border-radius: 10px;
    width: 100%;
  }